<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Encontrar cidadão</title>
    </head>
    <body>
        <h2>DNRN - Encontrar cidadão</h2>
        <form action="findCitizenDNRN" method="post">
            Introduza o NUIC do cidadão: <input type="text" name="nuic"/>
            <input type="submit" value="Procurar cidadão"/>
        </form>
    </body>
</html>